body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1f1f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.articlecard {
  width: 350px;
  height: 350px;
  background-color: rgba(42, 42, 42, 0.667);
  border-radius: 5%;
  transition: box-shadow 0.3s;
}

.articlecard:hover {
  box-shadow: 0 0 11px #fff;
}

.articlecard img {
  width: 350px;
  height: 200px;
  border-radius: 5% 5% 0% 0%;
}

.articlecard h2 {
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articlecard a {
  text-decoration: none;
}

.articlegrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  justify-content: center;
}

.container {
  height: 900px;
  width: 950px;
  margin: 0 auto;
}

.navbar li {
  color: white;
  list-style-type: none;
  font-size: large;
}

.navbar {
  padding: 20px;
}
